In [37]:
# lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [38]:
#Lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [39]:
driver.get("https://www.naukri.com/")

In [40]:
search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [16]:
job_titles=[]
company_names=[]
job_locations=[]
experience_required=[]

In [15]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="c90c11b2-b55f-4145-acb6-96de8d8bd77c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="1a0e557f-166c-4d2c-aa23-ad849eac654d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="0bb64cc7-b56c-489b-8f14-149ffe477ad9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="5fb514bc-3fd3-457d-8b2e-b8e609fa6934")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="796ccf0e-2416-4b70-bb2c-188faffc84e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="10a34a2a-f996-4e0a-a560-639223da7f08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="3c0d5871-e036-4d13-a301-7ef2c509ab3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="cc90860d-f6c9-4c34-b153-5f67f07a785c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="9d474103-8319-4816-8069-0fe9316a61a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="ceb9aa28-b03b-409f-ad0a-0bb90116c5ce")>]

In [17]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Analyst - Marketing',
 'Associate Data Analyst',
 'Business Data Analyst',
 'Lead Data Analyst / Data Engineer',
 'Data Analyst / Business Analyst (Demand Planning)',
 'Senior Data Analyst',
 'Data Analyst',
 'Business Data Analyst',
 'Data Analyst - I/II',
 'Data Analyst (BI) - I/II']

In [18]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="4cf8f969-baac-482b-9fbc-4543b622b76d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="1db44333-5c33-417b-b01e-e66abc7258ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="5f6e6707-aff9-4daa-9b1e-f90e9674c7a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="fac7badf-29d4-41d8-9159-93bd8ae859a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="ed3f9ef4-c728-4e1b-83cb-8f9940506f77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="b3f1ebfa-2c5e-4606-aa51-278725e632a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="3b2d2c36-2eb2-4866-a067-ac45c00702d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="cea6b803-3b7c-4e7b-91d0-667e3857aa24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="37633fce-ee48-4b0e-900e-45599f76a2b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="738c71ff-e3e1-48d5-9ccb-fc5a03f3bf66")>]

In [19]:
for i in companies_tags:
    title=i.text
    company_names.append(title)
company_names[0:10]

['Byjus - Transforming Education using Technology',
 'Integrated Digital Systems',
 'INDIAVIDUAL LEARNING LIMITED',
 'Huawei Technologies',
 'Flipkart',
 'Scienaptic Systems',
 'Applied Materials',
 'RANDSTAD INDIA PVT LTD',
 'Philips India Limited',
 'Philips India Limited']

In [23]:
Experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
Experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="c381ddcf-3f75-4e14-8f8c-39cd2cc56e82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="5306353d-8e82-4853-8ebc-7e9a4621a587")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="14f44158-92a4-4e79-8c19-4ee1ef7877bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="472c6a45-4622-48d8-8702-dd8e7c54c221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="fa52c900-3e85-4299-8e6f-41de818429dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="e7748104-a6af-4751-aefb-434109194dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="776f6422-50d3-4c61-b50c-2973ddba07b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="b5e7abb3-59ea-4653-901b-7a8e469d1193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="50041739-8c52-41fc-9cee-99c375aefa55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="0f881ae5-dd37-4e5d-a99b-81671ac132a1")>]

In [24]:
for i in Experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['0-2 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '5-10 Yrs',
 '1-4 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '3-6 Yrs',
 '3-6 Yrs']

In [26]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="9850b8d9-50fa-4564-aca1-96a3f1cfaa7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="0c1bc8b9-ed9f-406d-bd76-9b6b5338868f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="f7412177-c788-4dd8-bd09-fad5d91446cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="371dfd57-1194-4988-8aa5-a47414f819e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="e28b4ea6-4bc8-43a6-be43-06d1145a4311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="e0ce5f58-d4c1-4cbf-a051-74dc590c45b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="65e729b4-f2c7-45fb-8cbf-67e36c3cfd32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="26db6fc0-03a6-410c-8e9b-2d75842f7544")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="99a5c5ef-59cb-41d7-b74f-5cf5c1aa932c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c19e288eaf5aebc387386e4002d74ad", element="cd7335e0-05f9-4a1d-98fc-594893503c30")>]

In [27]:
for i in locations_tags:
    location=i.text
    job_locations.append(location)
job_locations[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
print(len(job_titles),len(company_names), len(experience_required), len(job_locations))

20 20 20 20

In [29]:
# import pandas as pd
jobs=pd.DataFrame({})
jobs['Job_title']=job_titles[0:10]
jobs['Job_Location']=job_locations[0:10]
jobs['Company_name']=company_names[0:10]
jobs['Experience_required']=experience_required[0:10]
jobs

,Job_title,Job_Location,Company_name,Experience_required
0,Data Analyst - Marketing,Bangalore/Bengaluru,Byjus - Transforming Education using Technology,0-2 Yrs
1,Associate Data Analyst,Bangalore/Bengaluru,Integrated Digital Systems,0-2 Yrs
2,Business Data Analyst,Bangalore/Bengaluru,INDIAVIDUAL LEARNING LIMITED,2-6 Yrs
3,Lead Data Analyst / Data Engineer,Bangalore/Bengaluru,Huawei Technologies,5-10 Yrs
4,Data Analyst / Business Analyst (Demand Planning),Bangalore/Bengaluru,Flipkart,1-4 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Scienaptic Systems,5-10 Yrs
6,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
7,Business Data Analyst,Bangalore/Bengaluru,RANDSTAD INDIA PVT LTD,8-12 Yrs
8,Data Analyst - I/II,Bangalore/Bengaluru,Philips India Limited,3-6 Yrs
9,Data Analyst (BI) - I/II,Bangalore/Bengaluru,Philips India Limited,3-6 Yrs